.card{
    margin: 60px auto;
    float: none;
    width: 30rem;
    height:36rem;
}
.signup{
 margin: 35px; 
/*margin-left:50px; */
}
.example-full-width {
    width: 100%;
    
  }
  @media screen and (max-width: 600px) {
    .card {
        width: 20rem;
        font-size:10px;
    }
}